<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Forge.OpenAI" version="1.5.5" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.32" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.32" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.32" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.32" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.32" />
  <package id="Microsoft.Extensions.Http" version="3.1.32" />
  <package id="Microsoft.Extensions.Logging" version="3.1.32" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.32" />
  <package id="Microsoft.Extensions.Options" version="3.1.32" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.32" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="OpenAI" version="2.0.0" manuallyInstalled="true" />
  <package id="OpenAI-DotNet" version="8.3.0" manuallyInstalled="true" />
  <package id="System.ClientModel" version="1.1.0" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" />
  <package id="System.Memory.Data" version="1.0.2" />
  <package id="System.Net.Http.Json" version="6.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.9" />
</packages>